[package]
name = "libsystemd"
version = "0.3.0-alpha.0"
authors = ["Luca Bruno <lucab@lucabruno.net>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/lucab/libsystemd-rs"
documentation = "https://docs.rs/libsystemd"
description = "A pure-Rust client library to interact with systemd"
keywords = ["systemd", "linux"]
categories = ["api-bindings", "os::unix-apis"]
readme = "README.md"
exclude = [
".gitignore",
".travis.yml",
]
edition = "2018"

[dependencies]
hmac = "^0.8"
libc = "^0.2"
log = "^0.4"
nix = "^0.18"
serde = { version = "^1.0.91", features = ["derive"] }
sha2 = "^0.9"
thiserror = "^1.0"
uuid = { version = "^0.8.1", features = ["serde"] }

[dev-dependencies]
quickcheck = "^0.9"

[package.metadata.release]
sign-commit = true
disable-publish = true
disable-push = true
pre-release-commit-message = "cargo: libsystemd release {{version}}"
post-release-commit-message = "cargo: development version bump"
tag-message = "libsystemd {{version}}"
