[package]
name = "libsystemd"
version = "0.1.1-alpha.0"
authors = ["Luca Bruno <lucab@debian.org>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/lucab/libsystemd-rs"
documentation = "https://docs.rs/libsystemd"
description = "A pure-Rust client library to interact with systemd"
keywords = ["systemd", "linux"]
categories = ["api-bindings", "os::unix-apis"]
readme = "README.md"
exclude = [
".gitignore",
".travis.yml",
]
edition = "2018"

[dependencies]
error-chain = { version = "^0.12.1", default-features = false }
hmac = "0.7"
libc = "0.2"
nix = "0.15"
serde = { version = "^1.0.91", features = ["derive"] }
sha2 = "0.8"
uuid = { version = "^0.8.1", features = ["serde"] }

[dev-dependencies]
quickcheck = "0.8"

[package.metadata.release]
sign-commit = true
upload-doc = false
disable-publish = true
disable-push = true
pre-release-commit-message = "cargo: libsystemd release {{version}}"
pro-release-commit-message = "cargo: development version bump"
tag-message = "libsystemd {{version}}"
